html, body, div, span, applet, object, iframe, h1, h2, h3, .sidebar_widget h3, .sidebar_widget h2.widgettitle, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
    margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body {
  line-height: 1;
  font-family: 'Text Me One', sans-serif;
  letter-spacing:1px;
  background: url(../images/vivelohoy_bg_photo.jpg) #151515;
  color: #ddd;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 1)
}

ol, ul { list-style: none; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

a { color: #bebebe; }
/* line 17, ../sass/pages/_base.scss */
a:hover, a:active { color: #fafafa; }

a.red-link { color: #ee3124; }

a.red-link:hover, a.red-link:active { color: #444444; }

a.brand {
    background: url(../images/vivelohoy_logo.png);
    background-repeat: no-repeat;
}

h1 { margin: 10px 0 20px 0; font-size: 45px; line-height: 1.2em; }

h2 { margin: 8px 0 15px 0; font-size: 40px; line-height: 1.2em; }

h3 { margin: 8px 0 15px 0; font-size: 35px; line-height: 1.2em; }

h4 { margin: 8px 0 15px 0; font-size: 30px; line-height: 1.2em; }

h5 { margin: 8px 0 15px 0; font-size: 25px; line-height: 1.2em; }

h6 { margin: 8px 0 15px 0; font-size: 20px; line-height: 1.2em; }

div.content {
  padding: 2%;
  background: #444;
  margin-bottom: 10px;
  margin-top: 70px;
  border-radius: 20px;
}
p {
  line-height: 1.6em;
  margin: 5px 0 10px 0;
  font-size: 19px; 
}

code.file {
  background: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: inset 0 1px 10px rgba(0,0,0,.3);
  padding: 5px;
  display: inline-block;
  margin: 10px;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 1);
  overflow: scroll;
}

code.note {
  background: #FFFF45;
  color: #000;
  border-radius: 5px;
  box-shadow: inset 0 1px 10px rgba(0,0,0,.3);
  padding: 5px;
  display: inline-block;
  margin: 10px;
  text-shadow: none;
  width: 90%;  
  overflow: scroll;
}

code.tc {
  background: #000;
  color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 1px 10px rgba(0,0,0,.3);
  padding: 5px;
  display: inline-block;
  margin: 10px;
  overflow: scroll;
}
@media (max-width: 979px) {
  .navbar-fixed-top {
      position: fixed;
      margin-left: 0px;
      margin-right: 0px;
  }
  div.content {
    margin-top: 105px;    
  }
}
